.header {
	background-color: skyblue;
	display: flex;
}
.header > p {
	font-size: 16pt;
	font-family: Monospace;
	margin: 0;
	padding: 12px 0 12px 0;
	text-align: center;
	color: white;
}
.header > div {
	flex-direction:row;
	text-align: right;
}
