.header {
	background-color: skyblue;
	display: flex;
}

.header > div {
	font-size: 15pt;
	font-family: Monospace;
	margin: 0;
	padding: 10px 0 10px 0;
	color: white;
}

#account-label {
	flex-direction:row;
	margin-left: auto;
}
